<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp - User submitted campgrounds database.</title>
        <meta name="description" content="YelpCamp is a user submissions based campgrounds browsing site. Check out what people are posting or tell others about the perfect camping spot that you've found!"/>
        <!-- Bootstrap3 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Font Aewsome -->
        <script src="https://kit.fontawesome.com/f48ece1f64.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <div class="container">
        <p id="landing-footer">YelpCamp 2020 by <a class="custom-link" href="https://louissavoie.github.io/" target="_blank">Louis Savoie <i class="fas fa-external-link-alt"></i></a></p>
    </div>
    
    </body>
</html>